html{
    margin: 0;
	padding: 0;
	height: 100%;
    background: linear-gradient(#ffffff, #0098df);
}
header h1{
    text-align: center;
    font-weight: normal;
    line-height: 7rem;
}
section{
    max-width: 80rem;
    margin: 0rem auto;
    padding: 1rem;
    border: solid .1rem #fff;
    background-color: #fafafa;
}
section img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}
section h2{
    font-weight: normal;
}
section p{
    background-color: #fafafa;
    padding: 0;
    text-align: justify;
}
footer{
    text-align: center;
}